/*#mapCanvas {
  height: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
*/

#infoPanel {
  z-index: 2;
  position: fixed;
  background-color: gray;
  top:10 px ;
 right:10px;


}

#find {
  z-index: 2;
  position: fixed;
  background-color: gray;
  bottom:100px;
  left:100px;
  height:50px;
  width:200px;

}
/*#infoPanel {
  float: left;
  margin-left: 10px;
}
#infoPanel div {
  margin-bottom: 5px;
}*/
